.about_us{
    overflow: hidden;
    p {
        max-width: 690px;
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }
    &__second-block {
        @media (max-width: 1200px) {
            padding: 0;
        }
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
    }
    .btn-cont {
        justify-content: flex-end;
        display: flex;
        @media (min-width: 992px) {
            width: fit-content!important;
        }
    }
    .black-border {
        border-bottom: 1px solid $black-color;
        width: 550px;
        bottom: 20px;
        position: absolute;
        left: -125px; 
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
}