.cake {
    &__wrap {
        text-align: center;
        .row {
            justify-content: space-between;
            @media (max-width: 410px) {
                justify-content: center;
            }
        }
    }
    &__text {
        max-width: 720px;
        margin: auto;
    }
    &__title {
        color: $purple;
    }
    &__about_cake {
        @media (max-width: 992px) {
            row-gap: 50px;
        }
        &-description {
            color: $white;
            background-color: $purple;
        }
        &-image {
            height: 200px;
            width: 200px;
            margin-bottom: 60px;
            @media (max-width: 575px) {
                max-width: 150px;
                margin-bottom: 30px;
            }
        }
        &-item {
       
            @media (min-width: 992px) {
                max-width: 300px;
            }
            @media (max-width: 630px) {
                margin: auto;
            }
        }
    }
    &__button {
        justify-content: center;
        display: flex;
    }
    &__members {
        max-width: 480px;
        margin: auto;
        &-image {
            margin-bottom: 20px;
        }
        &-profesion {
            font-weight: 700;
            color: $brand-primary;
            text-transform: uppercase;   
        }
        &-item {     
            max-width: 190px;
            .icon {
                height: 18px;
                width: 18px; 
            }
            a {
                color: $purple;
                display: flex;
                align-items: center;
                column-gap: 10px;
                width: max-content;
                margin: auto;
                transition: all 0.3s;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    .icon { 
                        transition: all 0.3s;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}