.finance {
    &__wrap {
        text-align: center;
    }
    &__title {
        text-align: center;
        max-width: 720px;
        margin: auto;
    }
    &__cards {
        justify-content: space-between;
        @media (max-width: 767px) {
            row-gap: 40px;
        }
        @media (max-width: 575px) {
            margin-left: -15px;
            margin-right: -15px;
        }   
    }
    &__card {
        max-width: 500px;
        height: 400px;
        padding: 0;
        position: relative;
        @media (max-width: 767px) {
            margin: auto;
        }
        &-bg_image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        &-content {
            z-index: 1;
            position: relative;
            height: 100%;
            padding: 50px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            @media (max-width: 992px) {
                padding: 30px;
            }
            .btn {
                margin: auto;
            }
        }
        &-logo {
            width: 100%;
        }
        &-bg_color {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.8;
            transition: all 0.3s;
            &.orange {
                background-color: $orange;
            }
            &.green {
                background-color: $green;
            }
            
        }
    
    }
}