.form {
    &__wrap {
        max-width: 720px;
        margin: auto;
        text-align: center;
        .social-second {
            justify-content: center;
            @media (max-width: 500px) {
                justify-content: space-between;
                column-gap: inherit;
            }
        }
    }
    &__description {
        max-width: 530px;
        margin: auto;
    }
}