@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../../assets/fonts/Montserrat-Regular.ttf') format('opentype'); 
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../../assets/fonts/Montserrat-SemiBold.ttf') format('opentype'); 
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Prosto One', sans-serif;
    src: url('../../assets/fonts/ProstoOne-Regular.ttf') format('opentype'); 
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'League Spartan', sans-serif;
    src: url('../../assets/fonts/ProstoOne-Regular.ttf') format('opentype'); 
    font-weight: 400;
    font-style: normal;
}