@font-face {
    font-family: 'IBMPlexSans';
    src: url('../../assets/fonts/IBMPlexSans-Bold.ttf') format('opentype'); 
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../../assets/fonts/IBMPlexSans-Regular.ttf') format('opentype'); 
    font-weight: 400;
    font-style: normal;
}

