@import "variables";

.footer {
    background-color: $dark-blue;
    padding: 60px 0 120px;
    @media (max-width: 575px) {
        padding-bottom: 60px;           
    }
    h4, h6, p, a {
        color: $white;
    } 
    &__title {
        max-width: 720px;
    }
    &__menus {
        display: flex;
        column-gap: 60px;
        @media (max-width: 992px) { 
            column-gap: 30px;
            flex-wrap: wrap;
        }   
    }
    &__menu {
        width: 200px; 
        margin: 0;
        list-style-type: none;
        li {
            a {
                @extend %size14; 
            }
        }
        @media (max-width: 1200px) {
            width: 25%;            
        }
        @media (max-width: 992px) {
            width: calc(50% - 30px);          
        }
        @media (max-width: 575px) {
            width: 100%;          
        }
    }
    &__wrap {
        row-gap: 60px;
        display: grid;
    }
    &__copyright {
        @extend %size12; 
    }
    &__icon_up {
        text-align: center;
    }
    .social__icon {
        transition: all 0.3s;
        &:hover,
        &:focus,
        &:active {
            opacity: 0.6;
        }
    }
}