@import "variables";


body {
    background-color: $second-white; 
}
.home.page-template-default {
    header {
        background-color: transparent;
    }
}
.page-template-default { 
    header {
        background-color: $dark-blue;
    }
    .main-wrapper {
        .page-container {
            padding-top: 200px;
            padding-bottom: 100px; 
        }
    }
}

.error404 {
    header {
        background-color: $dark-blue;
    } 
    .main-wrapper {
        .container {
            padding-top: 200px;
            padding-bottom: 100px; 
        }
    }
}

.archive {
    header {
        background-color: $dark-blue;
    } 
    .main-wrapper {
        padding-top: 200px;
        padding-bottom: 100px;
        row-gap: 40px;
        display: grid;
    }
}
.single-events {
    header {
        background-color: $dark-blue;
    } 
    .main-wrapper {
        padding-top: 200px;
        padding-bottom: 100px;
    }
}
.social {
    margin: 0;
    display: flex; 
    column-gap: 30px;
    list-style-type: none;
    &__icon {
        width: 24px;
        height: 24px;
    }
}
.social-second {
    margin: 0;
    display: flex; 
    column-gap: 60px;
    list-style-type: none;
    &__icon {
        width: 40px;
        height: 40px;
        transition: all 0.3s;     
        &:hover,
        &:focus,
        &:active {
            transform: scale(1.2);
        }
    }
}
.section-element {
    margin: 120px 0;
    @media (max-width: 575px) {
        margin: 60px 0;          
    }
}
.gform_wrapper.gravity-theme {
    .gform_fields {
        max-width: 510px;
        margin: auto;
        // @media (max-width: 992px) {
        //     max-width: inherit; 
        //     column-gap: 30px!important;
        //     #field_1_1 {
        //         width: auto;  
        //     }        
        // }
        @media (max-width: 575px) {
            display: flex;
            flex-direction: column;
            align-items: center;          
        }
    }
    #field_1_1 {
        width: 320px;
        input {
            border: 2px solid $black-20;
            border-radius: 2px;  
            font-size: rem(24); 
            height: 60px;
            padding: 10px 20px;
            background-color: $second-white;
        }
        input::placeholder { 
            color: $black-60;  
        }
        @media (max-width: 992px) {
            max-width: inherit; 
            width: 100%;
            column-gap: 30px!important;      
        }
    }
    #field_submit {
        width: 160px;
        .gform-button {
            height: 60px;
            border-radius: 2px;  
            font-size: rem(24);
            border: 2px solid $purple;
            color: $purple;
            background-color: $second-white;
            transition: all 0.3s;  
            &:hover,
            &:focus,
            &:active {
                opacity: 0.8;
            }
        }
    }
}
.gform_validation_errors {
    display: none;
}
.gform_body.gform-body {
    position: relative;
}
.gform_confirmation_wrapper  {
    font-size: rem(24);
}
.gfield_description.validation_message.gfield_validation_message {
    position: absolute;
    bottom: 60px; 
    width: 510px!important;
    border: none;
    background-color: transparent;
    text-align: initial;
}
.gform_footer.top_label {
    display: none!important;
}
.btn {
    text-decoration: none;
    border: none;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    width: fit-content;
    text-align: center;
    font-size: rem(24);
    transition: all 0.4s;
    line-height: rem(28);
    display: flex;
    align-items: center;
    border-radius: 2px;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        outline: none;
    }
    &_primary {
        position: relative;    
        background-color: transparent;
        border: 2px solid $purple;
        color: $purple;
        padding: 18px 15px;
        z-index: 1;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            opacity: 0.8;
            color: $purple;
        }
    }
    &_secondary {
      
        background-color: transparent;
        border: 2px solid $white;
        color: $white;
        padding: 18px 15px; 
        
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            opacity: 0.8;
            color: $white;
        }
    }

    &_thirth {
      
        background-color: transparent;
        border: 2px solid $dark-blue;
        color: $dark-blue;
        padding: 18px 15px; 
        
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            opacity: 0.8;
            color: $dark-blue;
        }
    }
}

.container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    @media (min-width: 768px) {
        max-width: 1380px;
        padding-left: 30px;
        padding-right: 30px;
    }
    @media (max-width: 575px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    &--small {
        max-width: 1160px;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
    }
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.menu {
    a { 
        line-height: 19.2px;
        letter-spacing: 0.2px;
        font-weight: 600;
    }
    li {
        margin: 0 15px;
    }
}
@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.modal-open {
    overflow: hidden;
}
.mb-60 {
    margin-bottom: 60px!important;
    @media (max-width: 992px) {
        margin-bottom: 45px!important;
    }
    @media (max-width: 575px) {
        margin-bottom: 30px!important;
    }
}

.mt-120 {
    margin-top: 120px!important;
    @media (max-width: 992px) {
        margin-top: 90px!important; 
    }
    @media (max-width: 575px) {
        margin-top: 60px!important;
    }
}
.mb-120 {
    margin-bottom: 120px!important;
    @media (max-width: 992px) {
        margin-bottom: 90px!important;
    }
    @media (max-width: 575px) { 
        margin-bottom: 60px!important;
    }
}
